.title {
    margin-top: 7em;
    height: 400px;
    padding-left: 7.5em;
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #fab57f;
}

.msitter {
    display: grid;
    width: 1313px;
    height: 353px;
    background: linear-gradient(to left, #ffffff00 0%, #fff 100%),
    url(/Project_team_3/baby/images/Фото4.png);
    border-radius: 44px;
}

.nyny {
    margin-top: 2em;
    margin-left: 15em;
    /* margin-bottom: 1em; */
    height: 53px;
    width: 164px;
    border-radius: 20px;
    background: rgba(251, 191, 120, 0.74);
}

.text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.text-container {
    margin-left: 1.5em;
    width: 600px;
}

.text-main {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
}