.main {
    display: flex;
    margin-left: 6em;
    margin-top: 1em;
    border-radius: 44px;
    background: linear-gradient(to right, #ffffff00 0%, #fff 100%),
    url(https://imgbly.com/ib/LEYwnMf4Un.png);
    width: 1059px;
    height: 452px;
}

.photo {
    margin-left:55%;

 
}


.text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.imp-main {
    display: block;
    margin-top: 1em;
    text-align: center;
}

.main-text {
    font-weight: bolder;
    font-size: 60px;
    -webkit-text-stroke: 1px white;

}
.sub-text{
    font-size: 40px;
}
.block-mid {
    display: flex;
    float: right;
    width: 600px;
    height: 84px;
    text-align: center;
}

.container {
    display: flex;
    float: right;
    margin-right: 4em;
    margin-top: 1.5em;
    border-radius: 32px;
    width: 480px;
    height: 170px;
    box-shadow: 5px 5px 25px -2px rgba(0, 0, 0, 0.25);
    background: rgba(255, 217, 167, 0.56);
}

.text-container {
    display: grid;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #8b5544;
}

.text-container>li {
    list-style-type: none;
}

.zay {
    margin-top: 1.5em;
    display: flex;
    float: right;
    width: 590px;
    height: 70px;
}

.text-zay {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: 400;
    font-size: 28px;
    text-align: center;

}

.number {
    font-weight: bold;
}