.service {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 1312px;
    height: 453px;
    margin-top: 1.5em;
    margin-left: 6em;
}

.photo-ser {
    background: linear-gradient(to left, #ffffff00 0%, #fff 100%),
    url(https://imgbly.com/ib/LU8G8m2WoW.png);
    width: 852px;
    border-radius: 74px;
}

.text-ser {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.5em;
    width: 360px;
    height: 220px;
    font-weight: 700;
    font-size: 50px;
    text-align: right;
}

.bd {
    font-weight: 400;
}

.leftbtn {
    display: block;
    margin-top: 5em;
    margin-left: 6em;
    width: 270px;
    height: 208px;
}


.elipse {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: linear-gradient(180deg, #ffeec3 0%, #eebb7e 78%);
}

.btnser {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #8b5544;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-ser {
    padding-top: 22px;
}

.textbtn {
    padding-top: 30px;
    padding-left: 20px;
}